/* * {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    margin: 1rem;
    text-align: center;
}

.nav {
    background-color: #333;
    color: white;
    display:flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
}

.navbar__logo {
    font-size: 2rem;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.nav a {
    float: left;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: .25rem;
}

.nav li:hover {
    background-color: #555;
}

.nav li.active {
    background-color: #777;
} */

/* .navbar {
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem calc((100vw - 1200px) / 2);
    z-index: 10;
    position: relative;
}

.navbar__logo {
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    margin-left: 24px;
    display: flex;
    align-items: center;
}


.navbar__bars {
    opacity: 0;
}

@media (max-width: 768px) {
    .navbar__bars {
        color: #999999;
        opacity: 1;
        position: absolute;
        top: 22px;
        right: 20px;
        font-size: 2rem;
    }
}

.navbar__menu {
    list-style: none;
    text-align: center;
    margin-right: 24px;
    display: flex;
    align-items: center;
}

@media (max-width: 768px) {
    .navbar__menu {
        display: none;
    }
}

.navbar__menu--link {
    color: #999999;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    display: flex;
    align-items: center;
}

.navbar__menu--link:hover {
    color: #007BFF;
    transition: all 0.3s ease;
}

.navbar__menu--button {
    padding: 0.75rem 1.5rem;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #007BFF;
    margin-left: 1rem;
    color: #f2f2f2;
}

.navbar__menu--button:hover {
    background: #1FC41F;
    transition: all 0.3s ease;
} */

/* hero section */

/*

.hero {
        background-image: url('../assets/tina-hero.png');
    height: 50vh;
    width: 100%;
    background-size:contain;
        background-position: center;
        background-color: rgba(0, 0, 0, 0.6);
            /* Change the alpha value (0-1) to adjust the darkness */
/* }

.hero__title {
    color: #fff;
    font-size: 4rem;
    margin-top: 15rem;
    margin-bottom: 1rem;

}

.hero__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    
}

.hero__title {
    text-align: center;
}

.hero__btn {
    margin-top: 5rem;
    padding: 0.8rem;
    padding-left: 3rem;
    padding-right: 3rem;
    background-color: black;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    border-color: black;
}

.hero__btn:hover {
    color: #007BFF;
    transition: all 0.3s ease;
}
 */


/* table styling */

/* .wrapper-users {
    margin: 50px auto;
    max-width: 900px;
}

.wrapper-users form {
    display: flex;
    align-items: center;
}

.wrapper-users label {
    font-weight: bold;
    margin-right: 10px;
}

.wrapper-users input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.wrapper-users table {
    width: 100%;
}

.wrapper-users th,
.wrapper-users td {
    text-align: center;
    padding: 10px;
}

.wrapper-users th {
    background-color: #333;
    color: #fff;
}

.wrapper-users td {
    background-color: #f2f2f2;
} */

/* footer */

/* footer {
    background-color: #9A9B9C;
    padding: 30px 0; */
    /* margin-bottom: 0; */
/* } */

/* .footer__container {
    max-width: 1200px;
    margin: 0 auto;
}

.footer__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col-md-3 {
    width: calc(25% - 15px);
    padding: 0 15px;
}

h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.footer__container__two {
    background-color: black;
    color: white;
    justify-content: center;
    margin-bottom: 0;
} */